
body {
    font-family: 'Open Sans', sans-serif;
}

code, pre {
    font-family: 'Inconsolata', monospace;
}

/* Change mask color */
.mask {
    background: rgba(0, 0, 0, 0.1) !important;
  }
  
  /* Disable mask */
  .mask {
    display: none; 
  }

:root {
    --theme-color: #406177;
    --font-size  : 15px;
    --line-height: 1.5;
  }

  .search input {
    background-color: transparent; /* or any specific color you want */
    color: inherit; /* this will inherit the text color from parent */
    /* Optional: you might also want to adjust these for better visibility */
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: 7px 7px 7px 36px;
  }

  .sidebar {
    padding-left: 15px;
  }
  
